<!DOCTYPE html>
<html>
<head>
	<title>Mailing Rates!</title>
</head>
<body>
	<h1>Here are the Rates!</h1>
	
	<p>Rate of "<%= name %>" with the weight of "<%= weight %>"" is "<%= rate %>"</p>

</body>
</html>